*{
 color:whitesmoke
}
body{
    background-image: url(https://w0.peakpx.com/wallpaper/179/860/HD-wallpaper-yamaha-bike-black-motorbike-muscle-new-race-speed-vehicle.jpg);
background-repeat: no-repeat;
background-size: 100%;
}
