*{
    color: white;
}
body{
    background-image: url(https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg?cs=srgb&dl=pexels-cesarperez209-733745.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}